# PureScript
data
test/spago-test
output/
index.js
.stack-work/
*.cabal
.envrc
.purs-repl
.psci_modules
.spago

# Haskell
stack.yaml.lock

# Python
.venv/
**/__pycache__

# Compiled project files
site/

# Miscellaneous
*~
.DS_Store
*.swp
test.svg
