body {
  margin: 0;
}

#sajem-tan-clock {
  background: center / 300px 300px url("paper.jpeg"), #ffa714;
  background-blend-mode: multiply;
  box-shadow: 0px 1px 6px 0px black;
  left: 50%;
  padding: 3vmin 1vmin 3.5vmin 1vmin;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85vmin;

  &::before {
    background: center / 400px 400px url("paper.jpeg");
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    content: "";
    display: block;
    height: calc(100% - 20px);
    left: 10px;
    position: absolute;
    top: 10px;
    width: calc(100% - 20px);
  }
}

.graphical-display {
  position: relative;
  text-align: center;

  svg {
    height: 28vmin;
    position: relative;
    width: calc(33% - 2vmin / 3);

    &.date-dial {
      left: -1vmin;
      top: 6vmin;
    }

    &.myth-dial {
      left: 1vmin;
      top: 6vmin;
    }
  }
}

.textual-display {
  position: relative;
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;

  p {
    line-height: 1.5em;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .time {
    font-size: 7vmin;
    margin-bottom: -1vmin;
  }

  .date, .season {
    font-size: 3vmin;
  }

  .decimal-unit {
    display: inline-block;
    width: 1.5ex;
  }

  .senary-unit {
    display: inline-block;
    width: 2.5ex;
  }

  .subseconds {
    font-size: 0.5em;
  }
}

.graphical-display .cell {
  fill: none;
  stroke: black;
  stroke-width: 1;
}

.theme-0-controls {
  .graphical-display .cell {
    &.active {
      fill: #e5b550;
    }

    &.filled {
      fill: #efd294;
    }
  }
}

.theme-1-controls {
  .graphical-display .cell {
    &.active {
      fill: #aa88bb;
    }

    &.filled {
      fill: lightsteelblue;
    }
  }
}

.theme-2-controls {
  .graphical-display .cell {
    &.active {
      fill: #7f8ab5;
    }

    &.filled {
      fill: lightsteelblue;
    }
  }
}

.theme-3-controls {
  .graphical-display .cell {
    &.active {
      fill: #cc7799;
    }

    &.filled {
      fill: #ebb695;
    }
  }
}

.theme-4-controls {
  .graphical-display .cell {
    &.active {
      fill: #6796d1;
    }

    &.filled {
      fill: #a8cbdf;
    }
  }
}

.theme-5-controls {
  .graphical-display .cell {
    &.active {
      fill: #b897ad;
    }

    &.filled {
      fill: #cabecb;
    }
  }
}

.theme-6-controls {
  .graphical-display .cell {
    &.active {
      fill: #bf7968;
    }

    &.filled {
      fill: #ddb0a6;
    }
  }
}

.theme-7-controls {
  .graphical-display .cell {
    &.active {
      fill: orange;
    }

    &.filled {
      fill: #ffd333;
    }
  }
}

.theme-8-controls {
  .graphical-display .cell {
    &.active {
      fill: #df9032;
    }

    &.filled {
      fill: #f5bd65;
    }
  }
}

.theme-9-controls {
  .graphical-display .cell {
    &.active {
      fill: #e56ccd;
    }

    &.filled {
      fill: #fba4d9;
    }
  }
}

.season .cell {
  // These cells need to have a solid colour even when inactive to hide the
  // curved inner edges of the month cells. This is a close visual match for the
  // overall grey of the paper texture.
  fill: #e6e6e6;
}

.graphical-display .week .cell {
  fill: black;
  stroke: none;
  opacity: 50%;

  &.active, &.filled {
    opacity: 100%;
  }

  &.active {
    fill: white;
  }
}

.background {
  align-items: center;
  background: center / 600px 600px url("watercolour.jpeg");
  display: flex;
  height: 100%;
  justify-content: center;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.hex-background {
  height: 100vmax;
  width: 100vmax;
  position: absolute;
}

.background-cells {
  mix-blend-mode: hard-light;
}

.background-mesh {
  filter: url("#deboss-filter") drop-shadow(0px 1px 0.5px rgba(0, 0, 0, 0.4));
  stroke-width: 1.5px;
}
